#!/bin/bash

source $(dirname $0)/common.sh

function usage() {
  echo "Usage: $0 -i IF_NAME -p PERCENTAGE"
  echo "  IFNAME: interface name like 'eth0'."
  echo "  PERCENTAGE: error percentage (0-100)."
}

# get params
packet_corrupt_percentage=""
net_if=""
while getopts ":hi:p:" OPT
do
  case $OPT in
    i) net_if=$OPTARG;;
    p) packet_corrupt_percentage=$OPTARG;;
    h) usage && exit 0;;
    :) echo  "[ERROR] Option argument is undefined.";;
    \?) echo "[ERROR] Undefined options.";;
  esac
done

validate_net_if "${net_if}"

if [ -z "${packet_corrupt_percentage}" ]; then
  echo "please specify corrupt percentage like '-p 50'."
  exit 1
elif ! (is_percentage "${packet_corrupt_percentage}"); then
  echo "specified corrupt percentage value '${packet_corrupt_percentage}' is not in [0, 100]."
  exit 1
fi

# set packet corrupt percentage
tc qdisc add dev ${net_if} root netem corrupt ${packet_corrupt_percentage}%

# show interface info
tc qdisc show dev ${net_if}
