#!/bin/bash

source $(dirname $0)/common.sh

function usage() {
  echo "Usage: $0 [IF_NAME]"
  echo "  IFNAME: interface name like 'eth0'."
  echo "  if IFNAME is not specfied, show tc config of all interfaces."
}

# main

if [ "$#" -eq 1 ]; then
  net_if=$1
  if exists_net_if "${net_if}"; then
    show_tc_config "${net_if}"
  else
    echo "network interface '${net_if}' not found."
  fi
elif [ "$#" -eq 0 ]; then
  for net_if in $(list_net_if); do
    echo "${net_if} $(show_tc_config ${net_if})"
  done
else
  usage
fi
